<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-12">
                    <div class="container content is-primary is-small"">
                            <h1 class=" title has-text-weight-bold is-2 has-text-centered">Movies seen</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-10">
                    {% for movie in movies %}
                    <div class="box">
                        <article class="media">
                            {% if movie.imdb %}
                            <figure class='media-left'>
                                <p class="image is-48x48" title="Cover">
                                    <img src={{ movie.get_thumbnail_url() }} width="48" height="48">
                                </p>
                            </figure>
                            </figure>
                            {% endif %}
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title is-4">
                                        {{movie.title}} ({{movie.year}})
                                    </h1>
                                    <h2 class="subtitle is-6">
                                        {{movie.date_seen}}
                                    </h2>
                                    {% if movie.comment %}
                                    <p class="subtitle">
                                        {{movie.comment}}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="media-right">
                                <form>
                                    <button class="button is-success is-small" formaction="/edit/{{movie.id}}">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <span>Edit</span>
                                    </button>
                                </form>
                            </div>
                        </article>
                    </div>

                    {% if movie_to_edit and movie_to_edit.id == movie.id %}
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="columns is-multiline">
                                <div class="column is-6">
                                    <input class="input is-medium" name="title" value= "{{ movie.title }}">
                                </div>
                                <div class="column is-6">
                                    <input class="input is-medium" name="year" value={{ movie.year }}>
                                </div>
                                <div class="column is-6">
                                    <input class="input is-medium" name="imdb" value={{ movie.imdb }}>
                                </div>
                                <div class="column is-12">
                                    <textarea class="input is-medium" rows="10" name="comment" value="{{ movie.comment }}"></textarea>
                                </div>
                                <div class="form-footer has-text-centered mt-10">
                                    <button type="submit" class="button cta is-large primary-btn raised is-clear" value="submit">Add Movie</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="add" class="section section-light-grey is-medium">
        <div class="container">
            <div class="title-wrapper has-text-centered">
                <h2 class="title is-2 is-spaced">Watched a movie?</h2>
            </div>
            <div class="content-wrapper">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="columns is-multiline">
                                <div class="column is-6">
                                    <input class="input is-medium" name="title" placeholder="Movie title">
                                </div>
                                <div class="column is-6">
                                    <input class="input is-medium" name="year" placeholder="Year Released">
                                </div>
                                <div class="column is-6">
                                    <input class="input is-medium" name="imdb" placeholder="IMDB">
                                </div>
                                <div class="column is-12">
                                    <textarea class="input is-medium" rows="10" name="comment" placeholder="Comments"></textarea>
                                </div>
                                <div class="form-footer has-text-centered mt-10">
                                    <button type="submit" class="button cta is-large primary-btn raised is-clear" value="submit">Add Movie</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>
